@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css);

.header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background-image: radial-gradient(rgb(66, 99, 196), 20%, white);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    font-size: xx-large;
    color: rgb(66, 99, 196);
    text-shadow: 0px 6px 12px rgb(56, 58, 58);
    align-items: center;
}

.logo>p {
    margin-right: 30px;
}

.header nav {
    display: flex;
    align-items: center;
}

.header div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.header nav div * {
    list-style: none;
    text-decoration: none;
    padding: 6px;
    color: black;
    text-shadow: 0px 6px 12px rgb(56, 58, 58);
    font-size: large;
}

.header nav div *:hover {
    color: rgb(66, 99, 196);
}

.header nav .active {
    color: rgb(66, 99, 196);
}

.header .hamburger {
    display: none;
    cursor: pointer;
    align-self: center;
}

.hamburger.open .bar {
    transform: rotate(180deg);
}

@media screen and (max-width: 400px) {
    .header .logo {
        font-size: larger;
    }

    .navbar {
        flex-direction: column;
    }

    .nav {
        position: fixed;
        top: 70px;
        right: -100%;
        background-color: rgba(66, 99, 196, 0.8);
        width: 36%;
        padding: 10px 0 10px;
        transition: right 0.2s ease-in-out;
    }
    
    .nav.open {
        right: 0;
    }

    .header .hamburger {
        display: block;
    }
}