

@import './components/Header/Header.css';
@import './components//Footer/Footer.css';
@import './components/ProductsList/ProductsList.css';



body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.boxApp {
  width: 100%;
  background-image: linear-gradient(to bottom right, rgb(243, 245, 248),rgb(66, 99, 196));
}